div.flex
	div.flex100
		div.wrap.flex
			div.flex20
				a(rel="home",href="index.php",title="Groceryhub") <!-- -->
			div.flex80
				nav
					ul
						li
							a(href="#",title="About") About
						li
							a(href="products.php",title="Products") Products
						li
							a(href="#",title="Blog") Blog
						li
							a(href="#",title="FAQ") FAQ
	div.flex100
		div.wrap
			nav
				ul
					li
						strong Press
						ul
							li
								a(href="#",title="In the News") In the News
							li
								a(href="#",title="Press Releases") Press Releases
							li
								a(href="#",title="Press Kit") Press Kit
					li
						strong Legal
						ul
							li
								a(href="#",title="Acceptable use Policy") Acceptable use Policy
							li
								a(href="#",title="Privacy Policy") Privacy Policy
							li
								a(href="#",title="Terms and Conditions") Terms and Conditions
					li
						strong Connect
						ul
							li
								a(href="#",title="Careers") Careers
							li
								a(href="#",title="Developers") Developers
							li
								a(href="#",title="Support") Support
	div.flex100
		div.wrap
			nav#social
				ul
					li
						a(href="#",title="Facebook",class="zocial-facebook") <!-- -->
					li
						a(href="#",title="Twitter",class="zocial-twitter") <!-- -->				
					li
						a(href="#",title="Linkedin",class="zocial-linkedin") <!-- -->		
					li
						a(href="#",title="Google Plus",class="zocial-googleplus") <!-- -->
	div.flex100
		div.wrap
			p Copyright © 2016 Groceryhub		