#popups
	#product1.popup.flex
		div
			a(rel="close",href="javascript:void(0)") 
				i.material-icons &#xE14C;
			.flex
				.flex60
					.gallery.flex
						.flex40
							<!-- thumbs -->
							a.thumb(href="javascript:void(0)")
								img(src="./assets/gal-thumb-1.jpg")
							a.thumb(href="javascript:void(0)")
								img(src="./assets/gal-thumb-2.jpg")
							a.thumb(href="javascript:void(0)")
								img(src="./assets/gal-thumb-3.jpg")
							a.thumb(href="javascript:void(0)")
								img(src="./assets/gal-thumb-4.jpg")
							<!-- categories -->
							i.organic.categories <!-- -->
							i.halal.categories <!-- -->
							i.low-fat.categories <!-- -->
							i.local.categories <!-- -->
							<!-- review -->
							p
								span
									i.leaf <!-- -->
									i.leaf <!-- -->
									i.leaf <!-- -->
									i.leaf <!-- -->
									i.leaf <!-- -->
								span
									small 25 Reviews
						.flex60
							img(src="./assets/gal-thumb-g.jpg")
				.flex40
					h3.c Tuscan Bread
						br
						span Organic (400g)
						i.heart.material-icons &#xE87E;
					p Vel eu inceptos arcu ullamcorper netus montes a vulputate ipsum a mi adipiscing interdum vestibulum integer praesent viverra.
					p
						span 
							strong Drained Weight
						span 
							strong 19g
						span 
							strong Net Weight
						span 
							strong 06g
					p
						span Tesco
						span $1.20
						span Waltrose
						span $1.60
						span Sailsbury
						span $1.40
				.flex50
					p.c
						b Details 
						<br/><br/> Suspendisse in purus mi accumsan mus in leo scelerisque dis scelerisque erat nunc aliquam per a turpis massa a volutpat venenatis metus.
						br
						a(href="#",title="More", class="b r") More
					br
					p.c
						b Alergens 
						<br/><br/> Suspendisse in purus mi accumsan mus in leo scelerisque dis scelerisque erat nunc aliquam per a turpis massa a volutpat venenatis metus.
						br
						a(href="#",title="More", class="b r") More
					br
					p.c
						b Ingredients 
						<br/><br/> Suspendisse in purus mi accumsan mus in leo scelerisque dis scelerisque erat nunc aliquam per a turpis massa a volutpat venenatis metus.
						br
						a(href="#",title="More", class="b r") More
					br
					p.c
						b Cuisine 
						<br/><br/> Suspendisse in purus mi accumsan mus in leo scelerisque dis scelerisque erat nunc aliquam per a turpis massa a volutpat venenatis metus.
						br
						a(href="#",title="More", class="b r") More
				.flex50
					#nutrition-facts
						h3 Nutrition Facts
						p Serving Size 10g<br/>Serving per Container 100g
						ul


							li
								ul
									li
									li Average Quantity per Serving
									li Average Quantity per 100g
							li
								ul
									li Energy
									li 673 KJ
									li 269 KJ
							li
								ul
									li Protein <br/>
										small -gluten
									li 8.3g <br/> omg
									li 3.3g <br/> omg
							li
								ul
									li Fat Total <br/>
										small -saturated
									li 8.5g <br/> 5.6g
									li 3.4g <br/> 2.3g
							li
								ul
									li Carbohydrate <br/>
										small -sugars
									li 12.8g <br/> 12.8g
									li 5.1g <br/> 5.1g
							li
								ul
									li Sodium
									li 125mg
									li 50mg
							li
								ul
									li Calcium
									li 300mg
									li 120mg
						p % Daily value are based on a 2.000 calorie diet
					.add-to-cart
						label Quantity
						span
							select
								option 1
								option 2
						span
							a(href="javascript:void(0)",class="btn btn_4") View More
				.flex100
					p
						b Similar Items
					.products
						.product
							img(src="./assets/product_thumb_p.jpg")
							p Tasco Organic (400g)
							p
								span 
									strong Tasco
								span 
									strong $1.00
								span 
									strong Waltrose
								span 
									strong $1.30
								small 20p/100g
							a(class="btn btn_4") View More
						.product
							img(src="./assets/product_thumb_p.jpg")
							p Tasco Organic (400g)
							p
								span 
									strong Tasco
								span 
									strong $1.00
								span 
									strong Waltrose
								span 
									strong $1.30
								small 20p/100g
							a(class="btn btn_4") View More
						.product
							img(src="./assets/product_thumb_p.jpg")
							p Tasco Organic (400g)
							p
								span 
									strong Tasco
								span 
									strong $1.00
								span 
									strong Waltrose
								span 
									strong $1.30
								small 20p/100g
							a(class="btn btn_4") View More
						.product
							img(src="./assets/product_thumb_p.jpg")
							p Tasco Organic (400g)
							p
								span 
									strong Tasco
								span 
									strong $1.00
								span 
									strong Waltrose
								span 
									strong $1.30
								small 20p/100g
							a(class="btn btn_4") View More